body { background-color: #FFFFFF;}

aside{  /* стиль боковой панели навигации */
    float: left; /* позиция - слева */
    background: #add8e6;/* цвет фона*/
    width: 20%; /*ширина в % от экрана, можно указать в px */
    padding: 1%; /*отступы */
    height: 100vh; /* высота боковой панели - 100% от видимой высоты экрана*/
    color: black; /* цвет текста */
    border-right: 5px solid #add8e6; /* стиль границы панели */
}
a{
    text-decoration:underline;
    color:blue;
}
a:hover{
    text-decoration:underline;
    color:dark-blue;
}
}
a:visited{
    text-decoration:underline;
    color:#480091;
}
/*a:link - просто ссылка
a:visited - посещенная
a:hover - наведённая
a:active - нажатая
*/



