body { background-color: #FFFFFF;}

aside{  /* стиль боковой панели навигации */
    float: left; /* позиция - слева */
    background: #add8e6;/* цвет фона*/
    width: 100%; /*ширина в % от экрана, можно указать в px */
    padding: 1%; /*отступы */
    height: 100vh; /* высота боковой панели - 100% от видимой высоты экрана*/
    color: 003300; /* цвет текста */
    border-right: 5px solid #add8e6; /* стиль границы панели */
}
a{
    text-decoration:underline;
    color:green;
}
a:hover{
    text-decoration:underline;
    color:olive;
}
}
a:visited{
    text-decoration:underline;
    color:teal;
}
/*a:link - просто ссылка
a:visited - посещенная
a:hover - наведённая
a:active - нажатая
*/
body .content{
    float: left;
    color: black;
    margin-top: 25px; /*верхний отступ от верхней части элемента*/
    text-align: center; /*текст по центру*/
    width: 75%; /*ширина элемента*/
}
body .single_news{
    margin-top:15px;
    float: left;
    width: 90%;
}



