body { background-color: #FFFFFF;}

aside{  /* стиль боковой панели навигации */
    float: left; /* позиция - слева */
    background: #add8e6;/* цвет фона*/
    width: 100%; /*ширина в % от экрана, можно указать в px */
    padding: 1%; /*отступы */
    height: 100vh; /* высота боковой панели - 100% от видимой высоты экрана*/
    color: 003300; /* цвет текста */
    border-right: 5px solid #add8e6; /* стиль границы панели */
}
.button5{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 25px;
    cursor: pointer;
}
/*a:hover.button5{
    text-decoration:none;
    color: yellow;
    }*/
a:visited.button5{
    text-decoration:underline;
    color:white;
}
a{
    text-decoration:underline;
    color:green;
}
a:hover{
    text-decoration:underline;
    color:olive;
}
}
a:visited{
    text-decoration:underline;
    color:teal;
}
/*a:link - просто ссылка
a:visited - посещенная
a:hover - наведённая
a:active - нажатая
*/
body .content{
    float: left;
    color: black;
    margin-top: 10px; /*верхний отступ от верхней части элемента*/
    text-align: center; /*текст по центру*/
    width: 85%; /*ширина элемента*/
}
body .single_news{
    margin-top:20px;
    float: left;
    width: 97%;
}


/* Если размер экрана >=1340px то текст не переносится по словам */
@media (min-width: 1680px) {
  .responsive-title {
   white-space: nowrap;

  }
}
/* Если размер экрана <1340px то текст переносится по словам - тег white-space */
@media (max-width: 1679.98px) {
   .responsive-title{
    white-space: normal;
  }
}

.link-active {
  color:olive;
}

 .d-lg-block{
    white-space: nowrap;
   /* float: inline-start;
    border-right: none;
    overflow-x:auto;
    */
}
.menu-icon{
    float: inline-start;
    padding: 5px 10px 0 0;
    /*border-right: 5px;*/
}
