{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Создание статьи {% endblock %}
{% block content %}

 <div class="row">
     <div class="text_centre" style="margin: 50">
         <h1>
             Страница для создания новости
         </h1>
     </div>
     <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class = "btn btn-success" value = "Сохранить">
     </form>
 </div>

{% endblock %}
