{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Новость{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" xmlns="http://www.w3.org/1999/html">
    <script src="https://kit.fontawesome.com/157685eaa0.js" crossorigin="anonymous"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}{% endblock %}

{% block content %}
<div class="single_news">
    <div class="p-4 p-md-5 rounded bg-warning bg-opacity-10">
        <div class="col-md-12 px-0">
            <h1 class="display-4 fst-italic fw-bold text-success"> Обычное отображение! {{ article.title }} </h1>
        </div>
        <div class="row">
            <div class="col-md-4 lead px-0 my-3">Дата: {{ article.date }}</div>
            <div class="col-md-3 lead px-0 my-3 text-end">Автор: {{ article.author }}</div>
            <div class="col-md-5 lead px-0 my-3 text-end">Категория новости: {{ article.get_category_display }}</div>
        </div>
        <div class="row">
            <div class="col-8 ">
                <p class="lead my-3 fw-bold">{{ article.anouncement }}</p></br>
                 <div class="container-fluid">
                     <p class="lead mb-0">{{ article.text }}</p>
                 </div>
            </div>
            <div class="col-4 ">
                </br>
                <img src="{{ article.image.url }}" class=" img-responsive img-fluid rounded">
            </div>
        </div>
        </br>
            <a class="btn btn-warning" href="{% url 'news_delete' article.pk %}">Удалить</a>
            <a class="btn btn-success" href="{% url 'news_update' article.pk %}">Редактировать</a>
    </div>
</div>


{% endblock %}
