<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/157685eaa0.js" crossorigin="anonymous"></script>
</head>
<body>
<aside>
{% block sidebar %} {% include 'main/sidebar.html' %} {% endblock %}
</aside>
<form method="post">
    {% csrf_token %}
<h3> Выберите цвет</h3>
{% for color in colors %}
<input type="radio" id="{{ color }}" name="colors" value="{{ forloop.counter }}">
<label for="{{ color }}"> {{ color }} </label> <br>
{% endfor %}
<br>
    <input class="btn-primary" type="submit" value="Сохранить">
    <br>
    <br>
</form>

<form method="post">
    {% csrf_token %}
    <p> Введите название товара: <br>
        <input type="text" name="title"></p>
    <br>
    <p> Введите цену: <br>
        <input type="text" name="price"></p>
    <br>
    <p> Выберите количество: <br>
        <input type="number" name="quantity" min="1" max="100"></p>
    <br>
    <input class="btn-primary" type="submit" value="Создать товар">
</form>


<table width="500px"; border="1px">
    <tr>
        <th> Товар </th>
        <th> Цена </th>
        <th> Кол-во </th>
        <th> Итого </th>
    </tr>
    <tr>
        <td> {{ water.title }} </td>
        <td> {{ water.price }} </td>
        <td> {{ water.quantity }} </td>
        <td> {{ water.amount }} </td>
    </tr>
    <tr>
        <td> {{ chocolate.title }} </td>
        <td> {{ chocolate.price }} </td>
        <td> {{ chocolate.quantity }} </td>
        <td> {{ chocolate.amount }} </td>
    </tr>
</table>
</body>
</html>