{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
<script src="https://kit.fontawesome.com/157685eaa0.js" crossorigin="anonymous"></script>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="background-color:#add8e6">
            <div class="row">
                <div class="col-3">
            <img src="https://static.tildacdn.com/tild3364-3333-4931-a339-613264643931/image.png" alt="иконка"
                 style="widht:auto; height:50px">
                </div>
                <div class="col-9">
                    <h1>Меню сайта</h1>
                </div>
            </div>
            <div >
                <h2>Пункты меню</h2>
            </div>
            <row>

                   <ul><li><i class="fa-solid fa-landmark"></i><a href="#"> Главная страница</a></li></ul>
                    <ul><li><i class="fa-solid fa-globe"></i><a href="#"> Новости</a></li></ul>
                    <ul><li><i class="fa-solid fa-user-secret"></i><a href="#"> Мой профиль</a></li></ul>
                    <ul><li><i class="fa-solid fa-user-gear"></i><a href="#"> Регистрация</a></li></ul>
                    <ul><li><i class="fa-solid fa-fingerprint"></i><a href="#"> Вход в аккаунт</a></li></ul>


            </row>
        </div>
    </div>
</div>

